<section id="hero" style="background-color: rgb(231, 245, 231);">
    
    <div class="" >
        
           <h2><marquee>Welcome to Hospital website</marquee></h2>
            <div>
                <img src="https://thumbs.dreamstime.com/z/hospital-building-modern-parking-lot-59693686.jpg" alt="" width="1000px" height="250px">
            </div>
                <div>
                    <h5>About the Hospital</h5>
                    <p>A hospital is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[2] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. </p>
                </div>
    </div>
</section>